.header {
    height: 200px;
  }
  
  .header h1 {
    margin: 0;
    padding-top: 75px;
    text-align: left;
    color: black;
    font-size: 3rem;
  }
  
  .navbar {
    background: aliceblue;
    height: 60px;
  }
  
  .navbar a {
    color: black;
    font-size: 5.0rem;
    text-decoration: none;
    margin: 5px;
    line-height: 3;
  }
  